<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>
<body>
<h2>Admin Login</h2>
<form action="#" th:action="@{/admin/login}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div th:if="${error}" style="color: red">
<!--        Sets the text of the <p> element to text in ${error} variable. If ${error} empty, we display a default text-->
        <p th:text="${error}">Authentication failed</p>
    </div>

<!--    For now double-->
    <div th:if="${param.error}">
        Authentication failed
    </div>
    <div th:if="${param.logout}">
        You have been logged out
    </div>
</form>
</body>
</html>